@font-face {
   font-family: 'Myriad Pro';
    src: url('fonts/MyriadPro/MyriadPro-Black.eot');
    src: local('Myriad Pro'), local('MyriadPro-Black'),
        url('fonts/MyriadPro/MyriadPro-Black.eot?#iefix') format('embedded-opentype'),
        url('fonts/MyriadPro/MyriadPro-Black.woff') format('woff'),
        url('fonts/MyriadPro/MyriadPro-Black.ttf') format('truetype');
}
body{
    margin: 0 auto;
    max-width: 1280px;
    font-family: 'Myriad Pro', serif;
    font-weight: 400;
}
a{
    text-decoration: none;
}
a:hover{
    opacity: 0.5;
}
.Ra {
    color:rgb(0, 0, 0);
    font-size: 80px;
    font-weight: 400;
}
.mda{
    color:rgb(75, 202, 255);
    font-size: 80px;
    font-weight: 400;
}
.navli{
    padding: 0;
    background-color: rgb(53, 68, 79);
    margin-bottom: 30px;
    text-align: center;
}
.navli li{
    display: inline-block;
    padding: 21px 42px;
}
.navli a{
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: 400;
}
.Ramda{
    background-color: rgb(34, 47, 58);
    height: auto;
    border-right: 1px solid white;
    border-left: 1px solid white;
}
.left{
    max-width: 344px;
    float: left;
    border: 1px solid black;
}
.left ul{
    width: 344px;
    height: 399px;
    margin: 0;
    padding: 0;
}
.left li{
    display: block;
    font-size: 27px;
    font-weight: 400;
    text-align: left;
    padding: 23px 43px;
}
.left li a{
    color: rgb(73, 88, 99);
}
.left li:hover a{
    margin-left: 45px;
}
.gray{
    background-color: rgb(220, 220, 220);
}
.right{
    max-width: 885px;
    float: right;
}
.image{
    width: 885px;
    height: 529px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img{
    display: block;
    margin: auto;
    transition: all 2s;
}
.image:hover .img{
    transform: scale(1.3);
    overflow: hidden;
}
.style1{
    clear: both;
}
p{
    color: rgb(44, 43, 43);
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}
.footer{
    margin-top: 51px;
    background-color: rgb(181, 184, 187);
    color: rgb(12, 25, 39);
    font-size: 28px;
    font-weight 400;
    line-height: 90px;
    text-align: left;
}
.footer div{
    padding-left: 21px;
    padding-right 21px;
}
span{
    margin: 0 5px;
}
span a{
    color: rgb(12, 25, 39);
}
.Why{
     color: rgb(45, 130, 167);
    border-bottom: 1px solid rgb(45, 130, 167);

}
.copy {
    float: right;
}


